
.grid-area{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto 20px ;
    height: 500px;
    margin: 0 auto;
    border: solid 3px black;
    width: 80%;
    
    
    background-color: cyan;
} 
.caja1{
   
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    border: solid black 3px;
    background-color: blue;
}
.caja2{
    
    
    border: solid black 3px;
}
.caja3{
    
    border: solid black 3px;
}
.caja4{
    background-color: red;
    border: solid black 3px;
}
.caja5{
    
    border: solid black 3px;
}
.caja6{
    
    border: solid black 3px;
}
.caja7{
    
    border: solid black 3px;
}
.caja8{
    
    border: solid black 3px;
}
.caja9{
    
    border: solid black 3px;
}