.container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: solid 1px black;
    margin: 0;
    width: 100%;
  
}
.caja{
    width: 100%;
    background-color: green;
    height: 50px;
}
.sontainer-secundario{
    display: flex;
    flex-direction: row;

}
.caja1{
    width: 50%;
    background-color: pink;
    height: 400px;
}
.caja2{
    width: 50%;
    background-color: purple;
    height: 400px;
}
.caja3{
    background-color: blue;
    height: 50px;
}
@media(max-width:700px){
    .sontainer-secundario{
        flex-direction: column;
    }
}