*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right,orange,red,orange);
}

.main-container{
    background: gray;
    display: grid;
    width: 80%;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.caja{
    width: 100px;
    height: 100px;
    background: red;
    border: 1px solid;
}

.yellow{
    background: yellow;
}

.caja1{
    align-self: flex-start;
    justify-self: start;
}

.caja3{
    align-self: flex-start;
    justify-self: end;
}

.caja7{
    align-self: flex-end;
    justify-self: start;
}

.caja9{
    align-self: flex-end;
    justify-self: end;
}