body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #34495e;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 4px;
}

form {
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

form h1 {
    text-align: center;
    color: #34495e;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input[type="email"],
form input[type="password"],
form input[type="date"],
form select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form input[type="submit"],
form input[type="reset"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: #27ae60;
    color: white;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #2ecc71;
}

form input[type="reset"] {
    background-color: #c0392b;
    color: white;
    transition: background-color 0.3s ease;
}

form input[type="reset"]:hover {
    background-color: #e74c3c;
}

form .error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
form .errorCrea{
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
footer {
    background-color: #34495e;
    color: white;
    padding: 1px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}





